:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --branding-skyblue: #36bbda;
  --branding-violet: #5016e1;
  --branding-yellow: #f7d718;
  --branding-pink: #bd1dda;
  --color-border: #eeeeee;
  --color-text-light: #ffffffff;
  --color-text-dark: #1a1a27;
}
